@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../img/moving_accueil.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  width: 420px;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(255,255,255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0,0,0, 0.2);
  color: white;
  border-radius: 13px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  position: relative;
  margin: 20px 0;
  width: 100%;
}

.input-box input, .input-box select, .input-box button {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  background: transparent;
  border: 2px solid rgba(255,255,255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  text-align: center;
}

.input-box select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: #007bff; /* Blue background */
}

.input-box button {
  cursor: pointer;
  background-color: #007bff; /* Blue background */
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.input-box button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Styles for the password rules tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -110px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
